<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.styl">
</head>
<body>
<div class="container">
    <form action="/">
        <label class="control-label" for="ruleWeight">优先级</label>

        <div class="controls">
            <input id="ruleWeight" name="weight" type="text" data-rule-required="true" data-msg-required="请输入"/>

        </div>
        <button type="submit">22</button>
    </form>
</div>

<script src="/public/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="/public/lib/jquery/jquery.validate.min.js"></script>
<script src="/public/js/index.js"></script>

</body>
</html>
