<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>老司机</title>
	<link rel="stylesheet" href="/public/css/old_driver.styl">
</head>
<body>
	<div v-cloak id="old-driver-container">
		hello, {{nickName}}
	</div>
	
	<script src="/public/lib/zepto/zepto.min.js"></script>
	<script src="/public/lib/axios/axios.min.js"></script>
	<script src="/public/lib/vue/vue.min.js"></script>
	<script src="/public/js/old_driver.js"></script>
</body>
</html>